#game-appbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    padding: 10px;
    background: rgba($color: #000000, $alpha: .5);
}

#game-appbar .game-btn {
    color: #fff;
    text-decoration: none !important;
    opacity: .9;
    font-weight: 700;
    transition: opacity .2s ease-in-out;
    display: flex;
    align-items: center;
}

#game-appbar .game-btn:hover {
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

#game-appbar .game-header {
    display: flex;
    align-items: center;
}

#game-appbar .game-header .game-btn {
    margin-right: 10px;
}

#game-appbar .game-title {
    font-weight: 700;
}

#game-appbar .game-options {
    display: flex;
    align-items: center;
}

#game-appbar .game-options .game-btn {
    margin-left: 10px;
}